In [24]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file = "HeroesOfPymoli/Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file)

#Confirm data has loaded 
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [25]:
#Player Count

#Display total number of players

total_players= len(purchase_data["SN"].unique())

summary_table=pd.DataFrame({"Total Players":[total_players]})

summary_table.head()

   Total Players
0            576

In [26]:
#Purchasing Analysis (Total)

#Number of Unique Items
#Average Purchase price
#Total Number of Purchases
#Total Revenue 


unique_items= len(purchase_data["Item ID"].unique())

average_price=purchase_data["Price"].mean()

purchase_total=purchase_data["Price"].count()

total_revenue=purchase_data["Price"].sum()

summary_table=pd.DataFrame({"Number of Unique Items":[unique_items], "Average Purchase Price":[average_price], "Total Number of Purchases":[purchase_total], "Total Revenue":[total_revenue]})

summary_table=summary_table.round(2)

summary_table.head()

#try change to $

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,3.05,780,2379.77

In [27]:
#Gender Demographics 

# % and count of male players
# % and count of female players
# % and count of other/ non-disclosed

gender_count=purchase_data["Gender"].value_counts()

percent_gender=gender_count/total_players*100

gender_count

gender_demographics=pd.DataFrame({"Total Count":gender_count , "Percentage of Players": percent_gender})

gender_demographics=gender_demographics.round(2)

gender_demographics.head()

#cant get to show correct figures, keeps coutning all vales not unique

                       Total Count  Percentage of Players
Male                           652                 113.19
Female                         113                  19.62
Other / Non-Disclosed           15                   2.60

In [28]:
#Purchasing Analysis (Gender)

#Purchase count - by gender
#Average purchase price - by gender
#total purchase value - by gender
#average purchase total per person by gender

purchase_count=purchase_data.groupby(["Gender"]).count()["Price"]

average_purchase_price=purchase_data.groupby(["Gender"]).mean()["Price"]

total_purchase_value=purchase_data.groupby(["Gender"]).sum()["Price"]

total_purchase_analysis=total_purchase_value/gender_count

purchasing_analysis=pd.DataFrame({"Purchase Count": purchase_count , "Average Purchase Price": average_purchase_price , "Total Purchase Value": total_purchase_value , "AVG Total Perchase per Person": total_purchase_analysis})

purchasing_analysis=purchasing_analysis.round(2)

purchasing_analysis.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,AVG Total Perchase per Person
Female,113,3.20,361.94,3.20
Male,652,3.02,1967.64,3.02
Other / Non-Disclosed,15,3.35,50.19,3.35

In [30]:
#Age demographics

#into bins of 4 years
#purchase count
#average purchase price
#total purchase value
#average purchase total per person by age group

bins=[0,10,15,20,25,30,35,40,45]

group_names=["0-10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-40", "40+"]

pd.cut(purchase_data["SN"], bins, labels=group_names).head

TypeError: '<' not supported between instances of 'int' and 'str'

In [31]:
#Top Spenders

#top 5 spenders by total purchase value 
#sn
#purchase count
#average purchase price
#total purchase value 



#Purchase count
purchase_count=purchase_data['SN'].value_counts()

purchase_count


#Average purchase price

purchase_price = purchase_data.groupby("SN")

average_purchase = purchase_price.mean(["Price"])

average_purchase 

#total purchase value  

total_value= purchase_data .groupby(["SN"]).sum(["Price"])

total_value 



spenders_summary=pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": average_purchase , "Total Purchase Price": total_value})

spenders_summary.sort_values("Total Purchase Value",ascending=False).round(2).head()

spenders_summary

ValueError: Shape of passed values is (4, 3), indices imply (576, 3)

In [32]:
#Most popular items

#5 most popular items by purchase count 
#item id
#item name 
#purchase count
#item price
#total purchase value

#Purchase count
item_purchase_count=purchase_data['Item ID'].value_counts()

item_purchase_count



#item price
item_purchase_price = purchase_data.groupby("Item ID" , "Price")

#total purchase value


total_purchase_value= purchase_data .groupby(["Item ID"]).sum(["Price"])

total_value 

popular_summary=pd.DataFrame({"Purchase Count": item_purchase_count, "Item Price": item_purchse_price , "Total Purchase Value": total_purchase_value})

popular_summary.sort_values("Total Purchase Value",ascending=False).round(2).head()

popular_summary

ValueError: No axis named Price for object type DataFrame

In [ ]:
#most profitable items

#5 most profitable items by total purchaase value 
#item id
#item name 
#purchase count
#item price
#total purchase value 

#Purchase count
item_purchase_count=purchase_data['Item ID'].value_counts()

item_purchase_count



#item price
item_purchase_price = purchase_data.groupby("Item ID" , "Price")

#total purchase value

total_purchase_value= purchase_data .groupby(["Item ID"]).sum(["Price"])

total_value 


profit_summary=pd.DataFrame({"Purchase Count": item_purchase_count, "Item Price": item_purchse_price , "Total Purchase Value": total_purchase_value})

profit_summary.sort_values("Purchase Count",ascending=False).round(2).head()

profit_summary

In [35]:
# 3 observeable trends


#The Men made up the majority of the data as a gender, followed by a Women and a much smaller number of Others. 

# It can be seen that although Men made a far larger number of purchases than Women, Women did spend more 
#on average per item and the Other's spent even more per item while buying far less items in total.